.gamePage {
  color: white;
}
.opponent__Details,
.my__Details {
  display: flex;
  /* justify-content: strart  ; */
  align-items: center;
  background-color: rgb(104, 104, 104);

  width: 100%;
  height: 3em;
  margin: 0.2em 0;
}
.opponent__Details img,
.my__Details img {
  width: 100%;

  object-fit: contain;
}
.opponent__Details > div,
.my__Details > div {
  margin-right: 0.4em;
  /* padding: 0.5em; */
  width: 3em;
  display: flex;
  /* align-items: center; */
}
